body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#kokonaisuus {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
}

img {
    position: relative;
    height: auto;
    width: 100vw;
}

#siika {
    position: absolute;
    top: 150px;
    left: 90px;
    font-size: 80px;
    color: rgb(0, 4, 31);
    text-shadow: 0 0 40px rgb(255, 255, 255);
}

@media (min-width:700px) {
    img{
        width: 50vw;
    }
    #siika{
        width: 30vw;
    }

}

legend {
    font-size: large;
    font-weight: bold;
}

#tumma {
    background-color: black;
    min-width: 20px;
}

.form-structure {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    margin: auto;
}

.form-structure input[type='text'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-structure input[type='email']{
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-structure input[type='tel']{
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-structure input[type='password']{
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

#e-mail:invalid,
#password:invalid {
    border: 2px solid  red;
}

#e-mail:valid,
#password:valid {
    border: 2px solid green;
}


